:root{
   --btn-color:#ffc107;
   --coffe-color:rgba(147, 141, 134, 0.771);
   --about-color:rgba(147, 141, 134, 0.512);
}
*{

    margin: 0px;
    box-sizing: border-box;
}
/* Reset body */
body{
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;


}

/* Navbar */
.navbar .nav-link.active,
.navbar .nav-link:hover,
.navbar .nav-link:focus{
    color: var(--btn-color) !important;
}
.navbar .navbar-toggler{
    color: var(--btn-color);
}
.navbar .navbar-toggler:focus{
    box-shadow: none;
}



/* Hero Section */
.home-section {
    position: relative;
    height: 100vh;
    background-image: url('../imge/hero_section.png');
    background-size: cover;
    background-position: center;
    
}

/* Overlay */
.home-section .overlay {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.35);
    z-index:1;
}

/* Content above overlay */
.home-section .content {
    position: relative;
    z-index:2;
}

/* Text */
.home-section h1 {
    font-size: 50px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.8);
}
.home-section p {
    font-size: 20px;
    margin-top: 10px;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
}

/* end hero section */

/* popular drinks start */
#popular_Drink{
    background-color: var(--coffe-color);
   
}
#popular_Drink .card{
    border-radius: 22px;
    margin: 20px;
}
#popular_Drink .card:hover{
    transform: translatey(-10px);
   
}
#popular_Drink .card-body a{
    border: none;
}

/* popular drinks end */

/* about start */
#About_QAHWA{
    background-color: var(--about-color);
    
}
#About_QAHWA h1{
    color: #6B3E26;
}


#About_QAHWA .textIN_container h3{
    color: #6B3E26;
}
#About_QAHWA  .textIN_container .btn-about{
    background-color: #6B3E26;
    color: white;
    
}
#About_QAHWA  .textIN_container .btn-about:hover{
    transform: scale(1.05);
}
#About_QAHWA  .textIN_container span{
    color: #6B3E26;
    font-weight:600;
}

#About_QAHWA  .about_imge img{
    border-radius: 30px;
    box-shadow: 5px 5px  15px #6B3E26;

    
}
#About_QAHWA  .about_imge img:hover{
    transform: translatey(-8px);
    cursor: pointer;

}
/* about end */



/* start Contact Us */
#Contact_Us{
    background-color: #FFF7F2;
    padding: 60px 0;
}

#Contact_Us .form_contact{
    max-width: 400px;
    background-color: var(--about-color);
    border-radius: 30px;
    box-shadow: 5px 5px 15px #6B3E26;
}
#Contact_Us img{
    border-radius: 30px;
    box-shadow: 5px 5px 15px #6B3E26;
}
#Contact_Us img:hover{
    transform: translatey(-8px);
    cursor: pointer;
    transform: scale(1.02);

}


/* end Contact Us */
.footer{
    background-color: #3E2723;
    color: #fff;
    padding: 50px 0 20px;
}

.footer .logo{
    color: #FFB22C;
    font-weight: bold;
}

.footer h5{
    margin-bottom: 15px;
}

.footer ul li{
    margin-bottom: 10px;
}

.footer ul li a{
    text-decoration: none;
    color: #ccc;
    transition: 0.3s;
}

.footer ul li a:hover{
    color: #FFB22C;
}

.footer hr{
    margin-top: 20px;
}